# update dwmblocks when AC connected/disconnected
SUBSYSTEM=="power_supply", ACTION=="change", ENV{POWER_SUPPLY_ONLINE}=="0", ENV{POWER}="off", RUN+="/usr/local/bin/dwmblocks-upd-bat"
SUBSYSTEM=="power_supply", ACTION=="change", ENV{POWER_SUPPLY_ONLINE}=="1", ENV{POWER}="on",  RUN+="/usr/local/bin/dwmblocks-upd-bat"
